# Niemals in Git einchecken!
.env
**/.env

# Reports & Streams & Logs (lokale Ausgabe)
reports/
**/reports/
streams/
**/streams/
logs/
**/logs/

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.mypy_cache/

# VS Code
.vscode/

# Betriebssystem
.DS_Store
Thumbs.db

# Test-Artefakte
htmlcov/
.pytest_cache/
.coverage

# Temporäre Artefakte
]
projekte.db
.offline-markdown-preview/
